h1 {
  color: blueviolet;
  text-align: center;
}
.server {
  text-align: center;
  border: 5px solid transparent;
  border-radius: 10px;
}
button {
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
